@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

body {
	font-family: Outfit, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
  
	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(15, 14, 14);
  
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
  
	--brand-colour: #5069cb;
  
	scroll-behavior: smooth;

	margin: 0;
	padding: 0;
}

h2 {
	/* color: rgb(248, 246, 227); */
	border-bottom: 1px solid #282c34;
	font-size: 2em;
  }
  
  .tutorial h2 {
	/* border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem; */
	/* border-radius: 0.5rem; */
  
	/* border-bottom: none; */
	/* border-top: 1px solid #282c34; */
	/* border-right: 1px solid #282c34; */
	/* border-left: 1px solid #282c34; */
	padding: 1rem;
  
	/* box-shadow: 0 -1rem 1rem rgb(0, 0, 0); */
  
	/* background: linear-gradient(180deg, rgb(10.44% 11.22% 13.56% / 0.233) 0%, rgb(10.399% 11.176% 13.507% / 0.23208984375000002) 6.25%, rgb(10.277% 11.045% 13.348% / 0.229359375) 12.5%, rgb(10.073% 10.826% 13.083% / 0.22480859375) 18.75%, rgb(9.787% 10.519% 12.712% / 0.2184375) 25%, rgb(9.42% 10.124% 12.236% / 0.21024609375) 31.25%, rgb(8.972% 9.642% 11.653% / 0.20023437500000002) 37.5%, rgb(8.442% 9.072% 10.965% / 0.18840234375) 43.75%, rgb(7.83% 8.415% 10.17% / 0.17475000000000002) 50%, rgb(7.137% 7.67% 9.27% / 0.15927734375000002) 56.25%, rgb(6.362% 6.837% 8.263% / 0.141984375) 62.5%, rgb(5.505% 5.917% 7.151% / 0.12287109375000001) 68.75%, rgb(4.567% 4.909% 5.933% / 0.10193750000000001) 75%, rgb(3.548% 3.813% 4.608% / 0.07918359375) 81.25%, rgb(2.447% 2.63% 3.178% / 0.054609375000000016) 87.5%, rgb(1.264% 1.359% 1.642% / 0.028214843749999996) 93.75%, rgb(0% 0% 0% / 0) 100% ); */
  }
  
  h2 span {
	color: #605853;
	/* color: #555360; */
  }
  
  @media only screen and (max-width: 470) {
	  #root {
		  padding: 0;
	  /* background-color: #282c34; */
	  }
  }
  
  .header-container {
	  position: fixed;
	  /* width: 100%; */
	  box-sizing: border-box;
	  z-index: 1;
	/* max-width: 1280px; */
	left: 0;
	right: calc(100% - 100vw);
	top: 0;
	/* padding-left: ; */
  }
  
  /* .content {
	  max-width: 1100px;
	  margin: auto;
	  display: flex;
	  justify-content: space-between;
	  padding-top: 100px;
  } */
  
  header {
	  padding: 0px;
	  max-width: 1100px;
	  margin: auto;
	  display: flex;
	  justify-content: space-between;
	  border-bottom: 1px solid #2b2b2b;
	  backdrop-filter: blur(5px);
	  background-color: rgba(0, 0, 0, 0.15);
	  z-index: 1;
	view-transition-name: header;
  }
  
  nav {
	  height: 30px;
  }
  
  nav ul {
	  /* list-style-type: none; */
	  height: 100%;
  }
  
  nav li, nav p {
	  display: inline-block;
	  margin: 0 10px;
  }
  
  span {
	  /* color: rgb(142, 162, 200); */ /* color: rgb(142, 162, 200); */ /* color: rgb(142, 162, 200); */ /* color: rgb(142, 162, 200); */
	/* color: #5865F2; */
	/* color: #5ebbc3; */
	/* color: #8459ed; */
	/* color: #edb259; */
	/* color: #cb6f2d; */
	/* color: hsl(45, 100%, 50%); */
  
	color: #677286;
	color: var(--brand-colour);
  }
  
  header a {
	  color: white;
	  text-decoration: none;
	  transition: all 0.2s;
	line-height: 1.1;
	font-weight: 800;
  }
  
  header a:hover {
	  opacity: 0.7;
	text-decoration: none;
  }
  
  .cta {
	  /* color:  hsl(23, 60%, 55%); */
	color: white;
	  text-decoration: none;
	  font-size: 13px;
	  padding: 8px 16px;
	  border-radius: 15px;
	  /* background-color: #5865F2; */
	  /* background-image: linear-gradient(45deg, #454FBF, #5865F2); */
	background-color: var(--brand-colour);
	/* outline: 2px solid currentColor; */
	  margin: 10px;
  }
  
  .cta:hover, .cta:focus {
	  scale: 1.05;
	  opacity: 1.0;
  }
  
  video {
	width: 100%;
	/* filter: hue-rotate(300deg); */
  }
  
  .projectList {
	max-width: 1100px;
	margin: 0 auto;
	max-width: 750px;
  }
  
  :not(header > nav > ul > li > a) > p, :not(header > nav) > ul {
	font-size: 1.3em;
	/* line-height: 1.68; */
	line-height: 1.7;
  }
  
  code {
	font-size: 1.3em;
	tab-size: 2;
  }
  
  :not(pre) > code {
	font-size: 1em;
	color: orange;
	white-space: nowrap;
	background-color: hsl(295, 13%, 10%);
  }
  
  .hljs {
	border-radius: 0.5rem;
	background-color: hsl(295, 13%, 10%) !important;
	/* transition: border 0.1s; */
	/* border: 1px solid #282c34; */
  }
  
  /* .hljs:hover {
	border: 1px solid hsla(295, 13%, 50%, 0.5);
  } */
  
  .tutorial {
	max-width: 680px;
	margin: 0 auto;
	/* border-left: 1px solid #282c34;
	padding: 0 50px; */
  }
  
  .tutorial img {
	width: 100%;
  }
  
  /* .tutorial img[src*="gif"] {
	view-transition-name: thumbnail_gif;
  }
  
  .thumbgif {
	view-transition-name: thumbnail_gif;
  } */
  
  .tutorial h2 {
	font-size: 2.5em;
	line-height: 1.1;
	text-align: center;
	/* color: #605853; */
	color: #677286;
	/* color: var(--brand-colour); */
  }
  
  .tutorial ul {
	list-style-type: disc;
  }
  
  .video-container {
	max-width: 630px;
	transform: scale(0.7);
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .video-container.animate {
	animation: scale-centre 0.3s ease-out 1;
	animation-fill-mode: forwards;
  }
  
  @keyframes scale-centre {
	  from {transform: scale(0.7);}
	  to {transform: scale(1);}
  }
  
  .large-text {
	font-family: Sen;
	margin: 0;
	opacity: 0;
  }
  
  .large-text.top {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	gap: 0.7rem;
	font-size: 40px;
	color: white;
  }
  
  .large-text.sub {
	font-size: 20px;
	text-align: center;
	padding-top: 4.5rem;
	padding-bottom: 9rem;
	font-weight: bold;
  } 
  
  .large-text.sub.animate {
	animation: sub-fade-in 0.2s ease-out 0.5s 1;
	animation-fill-mode: forwards;
  }
  
  @keyframes sub-fade-in {
	from {transform: translateY(-20px); opacity: 0;}
	  to {transform: translateY(0); opacity: 1;}
  }
  
  .large-text.top.animate {
	animation: top-fade-in 0.3s ease-out 0.2s 1;
	animation-fill-mode: forwards;
  }
  
  @keyframes top-fade-in {
	from {transform: translateY(40px); opacity: 0;}
	to {transform: translateY(0); opacity: 1;}
  }
  
  .home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100svh;
	margin: 0;
  }
  
  .home::before {
	content: "";
	position: absolute;
	/* background-color: black; */
	/* background-image: linear-gradient(17deg, #101529, black, black, black); */
	/* background-image: linear-gradient(17deg, hsl(235, 86%, 7%), black, black, black); */
	/* background-image: linear-gradient(17deg, hsl(0, 100%, 9%), black, black, black); */
	/* background-image: linear-gradient(17deg, #101529, #00000000, #10152978, #102429); */
	/* background-image: linear-gradient(157deg, #0b0a1b, #00000000, #00000000); */
	inset: 0;
  
	/* opacity: 0; */
  }
  
  .home.animate::before {
	animation: fade-in 2s ease-out 1;
	animation-fill-mode: forwards;
  }
  
  @keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
  }
  
  hr {
	border-bottom: 1px solid #282c34;
  }
  
  @keyframes fade-in {
	from { opacity: 0; }
  }
  
  @keyframes fade-out {
	to { opacity: 0; }
  }
  
  @keyframes slide-from-right {
	from { transform: translateX(30px); }
  }
  
  @keyframes slide-to-left {
	to { transform: translateX(-30px); }
  }
  
  @keyframes slide-from-left {
	from { transform: translateX(-30px); }
  }
  
  @keyframes slide-to-right {
	to { transform: translateX(30px); }
  }
  
  /* 'Forward' transitions */
  ::view-transition-old(root) {
	animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
	  300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
  }
  
  ::view-transition-new(root) {
	animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in, 300ms
		cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }
  
  /* Overrides for 'back' transitions */
  .back-transition::view-transition-old(root) {
	animation-name: fade-out, slide-to-right;
  }
  
  .back-transition::view-transition-new(root) {
	animation-name: fade-in, slide-from-left;
  }
  
  /* Forward for mobile */
  @keyframes full-slide-from-right {
	from { transform: translateX(100%); }
  }
  
  @keyframes full-slide-to-left {
	to { transform: translateX(-100%); }
  }
  
  /* Back for mobile */
  @keyframes full-slide-from-left {
	from { transform: translateX(-100%); }
  }
  
  @keyframes full-slide-to-right {
	to { transform: translateX(100%); }
  }
  
  /* Transitions for mobile */
  ::view-transition-old(root) {
	animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both full-slide-to-left;
  }
  
  ::view-transition-new(root) {
	animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both full-slide-from-right;
  }
  
  .back-transition::view-transition-old(root) {
	animation-name: full-slide-to-right;
  }
  
  .back-transition::view-transition-new(root) {
	animation-name: full-slide-from-left;
  }
  
  @media (min-width: 626px) {
	/* Overrides for larger displays.
	This is the shared axis transition from earlier in the article. */
	::view-transition-old(root) {
	  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
	}
  
	::view-transition-new(root) {
	  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
	}
  
	/* Overrides for 'back' transitions */
	.back-transition::view-transition-old(root) {
	  animation-name: fade-out, slide-to-right;
	} 
  
	.back-transition::view-transition-new(root) {
	  animation-name: fade-in, slide-from-left;
	}
  }
  
  @media (max-width: 500px) {
	.cta {
	  display: none;
	}
	nav {
	  height: fit-content;
	  margin: auto;
	}
  
	nav ul {
	  padding-left: 0;
	}
  
	.large-text.top {
	  display: block;
	}
	.project > div {
	  width: 100%;
	}
  }
  
  @media (max-width: 450px) { 
	.large-text.top span {
	  display: none;
	}
	.home video {
	  /* width calc 100% plus 3em */
	  width: calc(100% + 4em);
	}
	.video-container {
	  overflow: hidden;
	}
	.large-text.top {
	  padding: 0;
	}
	h1 {
	  font-size: 2.5em !important;
	}
	.tutorial p {
	  padding: 0px 20px;
	  font-size: 1rem;
	}
	.tutorial p:has(img) {
	  padding: 0;
	}
	.tutorial pre {
	  margin: 20px;
	}
	.tutorial-title {
	  padding: 0px 20px;
	  margin-top: 6rem !important;
	}
	.tutorial code {
	  font-size: 1rem !important;
	}
	.tutorial h2 {
	  font-size: 2.0rem !important;
	}
	.tutorial ul {
	  font-size: 1rem !important;
	  padding-right: 20px;
	}
  }
  
  .contents-fixed {
	  position: sticky;
	  /* top: 30px; */
	top: 10vh;
	  pointer-events: none;
	  width: 100%;
	  display: flex;
	  /* justify-content: flex-start; */
	  justify-content: space-between;
	height: 0;
  }
  
  .contents-container {
	  box-sizing: border-box;
	  width: calc(50% - 340px);
	  pointer-events: none;
  }
  
  .contents {
	  /* width: 80%; */
	  max-width: 290px;
	  pointer-events: auto;
	  box-sizing: border-box;
	  /* display: none; */
	/* background-color: black; */
	  view-transition-name: contents;
	/* padding-left: 10%; */
	width: fit-content;
	margin: auto;
	padding: 2rem;
	/* margin-right: 2rem; */
	/* background-color: #14161a; */
	/* border-radius: 0.5rem; */
	/* border: 1px solid #30363d; */
	border-right: 1px solid #30363d;
	/* border-left: 1px solid #30363d; */
	/* border-top: 1px solid #30363d; */
	/* border-bottom: 1px solid #30363d; */
	/* background-color: rgba(0, 0, 0, 0.15); */
	/* background-color: black; */
  
	/* border: 1px solid #282c34; */
	  /* background-color: hsla(225, 13%, 12%, 0.233); */
	  /* box-shadow: 0 0 1rem rgb(0, 0, 0); */
  }
  
  .contents-container:first-child .contents {
	/* border-left: none; */
	/* border-right: 1px solid #30363d; */
	border-right: none;
	border-left: 1px solid #30363d;
  }
  
  @media (max-width: 1250px) { 
	.contents-fixed {
	  display: none;
	}
  }
  
  .tutorial-title {
	max-width: 860px;
	margin: auto;
	margin-top: 9rem;
	margin-bottom: 6rem;
	scroll-margin-top: 9rem;
  }
  
  .tutorial h2 {
	scroll-margin-top: 4rem;
  }
  
  p:has(img) {
	margin-top: 0;
  }
  
  .contents ul {
	list-style: none;
	padding-left: 0;
	/* color: white; */
  }
  
  .contents ul li a {
	color: inherit;
	/* border-bottom: 1px solid #30363d;
	display:block; */
  }
  
  .contents h3 {
	/* border-bottom: 1px solid #30363d; */
	border-bottom: 5px solid var(--brand-colour);
	padding-right: 1rem;
	font-size: 1.3rem;
	width: fit-content;
  }
  
  .contents li a, .contents p {
	text-decoration: none;
	font-size: 1.1rem;
  }
  
  .contents li {
	transition: transform 0.2s ease-in-out;
	line-height: 1.3;
	margin-bottom: 0.6rem;
  }
  
  .contents li.active {
	color: var(--brand-colour);
	transform: translateX(5px);
	/* font-weight: bold; */
	/* padding-left: 0.5rem; */
	/* list-style: disc; */
  }
  
  .contents li:hover {
	color: var(--brand-colour);
  }
  
  video:nth-child(2) {
	position: absolute;
	filter: blur(3rem);
	/* scale: 2.5; */
	/* scale: 1.1; */
	opacity: 0.6;
  }
  
  #json {
	display: none;
  }
  
  .dates {
	text-align: center;
	/* border: 1px solid #30363d; */
	/* border-radius: 0.3rem; */
	border-top: 1px solid #30363d;
	padding: 0.5rem;
	margin-bottom: 3rem;
  }
  /* 
  pre code:after {
	content: attr(class, substring, 10);
	display: inline-block;
	font-size: .7rem;
	opacity: .7;
	position: sticky;
	right: 0;
	text-align: right;
	transform: translate(-5px,20px);
	width: 200px;
	margin-left: -200px;
  } */
  
  pre {
	position: relative;
  }
  
  code::after {
	content: attr(data-lang);
	right: 0;
	position: absolute;
	font-size: .7rem;
	opacity: .5;
	padding: 1rem;
	bottom: 0;
	/* border: 1px solid; */
	border-radius: 0.5rem;
	/* background-color: hsla(291, 14%, 10%, 0.5); */
	/* backdrop-filter: blur(5px); */
  }
  
  .tutorial video, .tutorial img, .hljs {
	/* border: 1px solid #282c34; */
	border-radius: 0.5rem;
	/* box-shadow: 0 0 1rem rgb(0, 0, 0); */
  }
  
  .hljs {
	border: 1px solid hsl(295, 13%, 30%);
  }
  
  .large-text.top {
	z-index: 1;
  }
  
  .video-container video {
	border-radius: 50%;
  }
  
  /* .noise {
	background-image: url(/images/bg_noise.webp);
	background-repeat: repeat;
	mix-blend-mode: overlay;
  
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  
	pointer-events: none;
	display: block;
  } */
  
  @keyframes rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  .landing-background-anim {
	--size: 750px;
	/* --speed: 50s; */
	--speed: 15s;
	--easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  
	width: var(--size);
	height: var(--size);
	position: absolute;
  
	top: 32%;
	left: 70%;
	transform: translate(calc(var(--size) / -2), calc(var(--size) / -2));
	margin-top: calc(var(--size) / -2);
	margin-left: calc(var(--size) / -2);
  
	filter: blur(calc(var(--size) / 5));
	opacity: 0.3;
	background-image: linear-gradient(red, blue);
	/* animation: rotate var(--speed) var(--easing) alternate infinite; */
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	/* view-transition-name: orb; */
  
	z-index: -20;
  }
  
  em {
	  /* font-weight: bold; */
	  border-bottom-style: solid;
	  border-color: orange;
  }

  a {
	/* font-weight: 500; */
	/* color: #646cff; */
	/* color: #5ebbc3; */
	/* color: #8459ed; */
	/* color: #edb259; */
	color: var(--brand-colour);
	/* color: hsl(23, 60%, 55%); */
	text-decoration: inherit;
  }
  a:hover {
	/* color: #535bf2; */
	text-decoration: underline;
  }
  
  body {
	margin: 0;
	/* display: flex; */
	/* place-items: center; */
	/* min-width: 320px; */
	min-height: 100vh;
  }
  
  h1 {
	font-size: 4.5em;
	line-height: 1.1;
	text-align: center;
  }
  
  button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
  }
  button:hover {
	border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
  }