:root {
  --header: hsl(218deg 21% 27%);
  --button: #425066;
  --background: hsl(218deg 21% 23%);
  --shadow: hsl(0deg 0% 0% / 50%);
  --line: #5D7191;
}

body {
	font-family: PT Sans, helvetica, sans-serif;
	/*background-color: #212121; */
	/*background-color: #f0f0f0;*/
	background-color: hsl(358deg 21% 21%);
	/*background-color: hsl(194, 85%, 81%);*/
  /*color: #c2c2c2;*/
  margin:  0px;

  display: inline;
}

header {
	position: fixed;
	/*text-align: left;*/
	background-color: var(--header);
	/*background-color: #f0f0f0;*/
	width: 100%;
	top: 0;
  left: 0;
  margin: 0;
 	/*border-bottom: 1px solid var(--line);*/

 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	box-shadow: 0px 0px 50px var(--shadow);
 	z-index: 1;
}

header nav, header .socials {
	display: inline-block;
}

header nav {
	text-align: left;
}

header .socials {
	text-align: right;
	padding-right: 60px;
}

ul {
	margin: 0px;
}

header nav ul li, header .socials ul li {
	display: inline;
}

header nav ul li a, header .socials ul li span {
  /*background-color: #2e2e2e;*/
  color: white;
  border: none;
  /*border: 2px solid var(--header);*/
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  /*padding: 20;*/
  /*padding-right:30px;*/
  /*padding-left:30px;*/
  /*border-radius: 10px;*/
  font-weight: bold;
  background-color: var(--header);
}

header .socials ul li span {
	padding: 15px 5px;
}

header nav ul li a:hover {
	background-color: var(--button);
	/*color:  plum;*/
	color:  #90cc84;
	cursor: pointer;
	text-decoration: none;
	/*border: 1px solid var(--line);*/
}

main, #datetime, #alert, .contents  {
	/*text-align: center;*/
	max-width: 800px;
	margin: auto;
	padding: 20px;
	/*background-color: white; */
	/*background-color: var(--header);*/
	border-radius: 5px;
	color: white;
	/*border: 1px solid var(--line);*/
	box-shadow: 0px 0px 50px var(--shadow);
	background-color: var(--background);
}

.segment {
	padding: 20px;
	border-radius: 5px;
	/*border: 1px solid var(--line);*/
}

img {
	padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 50vh;
  max-width: 100%;
}

a {
	color: deepskyblue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

code {
	font-family: PT Mono, monospace;
	background-color: #282c34;
}

h1, h2 {
	border-bottom: 1px solid var(--line);
  padding-bottom: .3em;	
}

h1 > div, h2 > div {
	content: "";
	position: absolute;
	width: 10px;
	height: 50vh;
	top: 0;
	transform: translateY(-100%);
}

h1 {
	font-size: 2em;
}

*::-webkit-scrollbar { 
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #282c34;
  /*border: 1px solid var(--background);*/
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #90cc84;
  border-radius: 10px;
}

.largeLink {
	display: flex;
	align-items: flex-start;
	padding: 20px;
	border-radius: 5px;
	background-color: var(--header);
}

.largeLink h2 {
	margin-bottom: 5px;
	border: none;
}
.largeLink p {
	margin: 5px;
}

.largeLink div {
	margin-left: 30px;
	max-width: 500px;
}

.largeLink div:only-child {
	margin-left: 0;
}

.largeLink img {
	width: 146px;
}

.largeLink > a {
	position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
}

.largeLink > a:after {
	content: "";
	position: absolute;
	top: -110%;
	left: -210%;
	width: 200%;
	height: 200%;
	opacity: 0;
	transform: rotate(30deg);
	
	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(
		to right, 
		rgba(255, 255, 255, 0.13) 0%,
		rgba(255, 255, 255, 0.13) 77%,
		rgba(255, 255, 255, 0.5) 92%,
		rgba(255, 255, 255, 0.0) 100%
	);
}

.largeLink > a:hover:after {
	opacity: 1;
	top: -30%;
	left: -30%;
	transition-property: left, top, opacity;
	transition-duration: 0.7s, 0.7s, 0.15s;
	transition-timing-function: ease;
}

.contents-fixed {
	position: fixed;
	top: 120px;
	pointer-events: none;
	width: 100%;
	display: flex;
  justify-content: flex-end;
}

.contents-container {
	box-sizing: border-box;
	width: calc(50% - 420px);
	pointer-events: none;
}

.contents {
	width: 80%;
	max-width: 500px;
	pointer-events: auto;
	box-sizing: border-box;
	display: none;
}

#contents-ul {
	padding: 0;
	list-style-type: none;
}

#contents-ul li a {
	/*color: white;*/
	padding: 5px;
	display: inline-block;
	width: 100%;
	position: relative;
}

#contents-ul li a:hover {
	background-color: var(--button);
	/*color:  plum;*/
	color:  #90cc84;
	cursor: pointer;
	text-decoration: none;
	/*border: 1px solid var(--line);*/
}

#contents-ul li a::before {
	content: '';
	position: absolute;
	left: -0.8em;
	top: 0.5em;

	width: 0;
	height: 0;
	border-top: 0.3em solid transparent;
	border-left: 0.6em solid var(--line);
	border-bottom: 0.3em solid transparent;
}

section {
	position: relative;
	transition-duration: 0.5s;
}

section::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	background-color: var(--button);
	opacity: 0;
	transition: all 0.5s;
}

section.flash::after {
	opacity: 0.7;
	transition: 0s;
}

span.tag {
	background-color: #282c34;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
}

hr {
	border-color: var(--line);
}


img.emoji {
	width:1em;
	pointer-events: none; 
	display: inline;
}

#json {
	display: none;
}

#datetime, #alert {
	background: none;
	display: none;
}

@media only screen and (min-width:  800px) {
	body {
		overscroll-behavior-y: none;
	}
}

@media only screen and (max-width: 840px) {
	main, #alert, #datetime {
 		border: none;
 		border-radius: 0px;
	}
}

@media only screen and (max-width: 1350px) {
	.contents-container {
 		display: none;
	}
}

@media only screen and (max-width: 720px) {
	header .socials {
		display: none;
	}
	h1, h2, p {
		text-align: center;
	}
	section > h1 {
		margin-top: 0;
	}
	.largeLink > a {
		margin: auto;
	}
	.largeLink {
		flex-direction: column;
	}
	.largeLink div {
		margin-left: 0px;
		max-width: none;
	}
	span.tag {
		text-align: center;
		margin: auto;
		display: block;
		width: fit-content;
	}
	.largeLink img {
		width: 100%;
	}
	header nav ul li a {
		padding: 15px 5px;
	}
	header nav ul {
		padding-left: 0px;
	}
	header {
		justify-content: center;
	}
}