.project {
	display: flex;
	align-items: flex-start;
	padding: 20px;
	border-radius: 5px;
	/*box-shadow: 0px 0px 50px var(--shadow);*/
	/*box-shadow: 0px 0px 5px var(--shadow);*/
	/*transition: box-shadow 0.3s ease-in-out;*/
	transition: transform 0.1s ease-in-out;
	
	margin: 1em;
	
	outline: 1px solid #282c34;
	background-color: hsla(225, 13%, 12%, 0.233);
	/* box-shadow: 0 0 1rem rgb(0, 0, 0); */
}

.project:hover {
	/*box-shadow: 0px 0px 25px var(--shadow);*/
	transition-duration: 0.5;/*
	transition-property: box-shadow;
	transition-timing-function: ease;*/
	transform: scale(1.06);
	/*transition: box-shadow 0.3s ease;*/
	transition: transform 0.1s ease;
	z-index: -2;
}

.project h2 {
	margin-bottom: 5px;
	margin-top: 0;
	border: none;
	font-weight: 800;
	font-size: 1.5em;
}
.project p {
	margin: 5px;
}

.project div {
	margin-left: 30px;
	max-width: 500px;
}

.project div:only-child {
	margin-left: 0;
}

.project img {
	width: 146px;
	/* height: 146px; */
	height: 110px;
	object-fit: cover;
}

.project > a {
	position: relative;
	overflow: hidden;
	display: inline-block;
	border-radius: 5px;
}

.project > a::after {
	content: "";
	position: absolute;
	top: -110%;
	left: -210%;
	width: 200%;
	height: 200%;
	opacity: 0;
	transform: rotate(30deg);
	
	background: rgba(255, 255, 255, 0.13);
	background: linear-gradient(
		to right, 
		rgba(255, 255, 255, 0.13) 0%,
		rgba(255, 255, 255, 0.13) 77%,
		rgba(255, 255, 255, 0.5) 92%,
		rgba(255, 255, 255, 0.0) 100%
	);
}

.project:hover > a::after {
	opacity: 1;
	top: -30%;
	left: -30%;
	transition-property: left, top, opacity;
	transition-duration: 0.7s, 0.7s, 0.15s;
	transition-timing-function: ease;
}

span.tag {
	background-color: #282c34;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
	margin-right: 0.5rem;
}

.project p {
	font-size: 1em;
}

@media only screen and (max-width: 625px) {
	h1, h2, .project p, main ul {
		text-align: center;
		list-style-type: none;
	}
	.project > a {
		margin: auto;
	}
	.project {
		flex-direction: column;
	}
	.project div {
		margin-left: 0px;
		max-width: none;
	}
	span.tag {
		text-align: center;
		margin: auto;
		display: block;
		width: fit-content;
	}
	.project img {
		width: 100%;
		height: auto;
	}
	.project img.emoji {
		width:1em;
		pointer-events: none; 
		display: inline;
	}
	.project:hover {
		transform: scale(1);
	}
}

.tags-wrapper-or-whatever {
	margin: 0 !important;
  }