---
import Nav from '../layouts/Nav.astro';
---

<Nav title="Home">
	<div class="outer-container">
		<div class="landing-background-anim"></div>
		<h1>Hi there, I'm <span>Dot32</span></h1>
		<div class="video-container animate">
			<video autoplay="" playsinline="" loop="" muted="">
				<source src="/gradientlogo_H.265.mp4" type="video/mp4;codecs=hvc1">
				<source src="/gradientlogo_VP9.webm" type="video/webm">
			</video>
		</div>
		<div class="marquee">
			<span>Rustacean<span>✧</span>Webdev<span>✧</span>Graphics<span>✧</span>Physics<span>✧</span>Rustacean<span>✧</span>Webdev<span>✧</span>Graphics<span>✧</span>Physics<span>✧</span></span>
		</div>
	</div>
</Nav>

<style>
	video {
		width: 100%;
  	}
	.video-container {
		max-width: 630px;
		transform: scale(0.7);
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		animation: scale-centre 0.3s ease-out 1;
		animation-fill-mode: forwards;
		z-index: -20;
  	}
	@keyframes scale-centre {
		from {transform: scale(0.7);}
		to {transform: scale(1);}
  	}
	.outer-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 90svh;
		margin: 0;
		gap: 2em;
	}

	.marquee {
		max-width: 2em; /* Adjust width as needed */
		transform: translateY(-20px);
		opacity: 0;

		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		white-space: nowrap;
		box-sizing: border-box;
		border: 1px solid hsla(0, 0%, 100%, .06);
		border-radius: 1.5em;
		position: relative;
		height: 3em;
		display: flex;
		align-items: center;

		animation: sub-fade-in .2s ease-out .5s 1, sub-resize 1s ease-out .5s 1;
		animation-fill-mode: forwards;
	}

	.marquee span {
		display: inline-block;
		/* padding-left: 100%; */
		animation: marquee 10s linear infinite;
		position: relative;
		font-size: larger;
		left: 0;
		color: var(--brand-colour);
	}

	.marquee span span {
		/* scale: 50%; */
		/* color: white; */
		/* opacity: 50%; */
		margin: 1em;
		scale: 70%;
		animation: none;
	}

	@keyframes marquee {
		0% {
			transform: translateX(0); /* Start with no padding */
		}
		100% {
			transform: translateX(-50%); /* Shift left by half of the text width */
		}
	}

	h1 {
		font-weight: 550;
		/* font-weight: 400; */
		letter-spacing: .2rem;
		margin-bottom: 0;
		animation: top-fade-in .5s cubic-bezier(0.25, 1, 0.5, 1) .4s 1;
		animation-fill-mode: forwards;
		transform: translateY(40px);
		opacity: 0;
	}

	h1 span {
		/* font-weight: 600; */
		color: var(--brand-colour);
	}

	.landing-background-anim {
		/* display: none; */
		--size: 750px;
		--speed: 15s;
		--easing: cubic-bezier(.8, .2, .2, .8);
		width: var(--size);
		height: var(--size);
		position: absolute;
		top: 0%;
		left: 50%;
		/* transform: translate(calc(var(--size) / -2),calc(var(--size) / -2)); */
		/* transform: translateX(-50%); */
		margin-top: calc(var(--size) / -2);
		margin-left: calc(var(--size) / -2);
		filter: blur(calc(var(--size) / 5));
		opacity: .2;
		background-image: linear-gradient(red,blue);
		border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
		z-index: -20;
	}

	@keyframes sub-fade-in {
		0% {
			transform: translateY(-20px);
			/* max-width: 2em; */
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
			/* max-width: 300px; */
		}
	}

	@keyframes sub-resize {
		0% {
			max-width: 2em;
		}
		100% {
			max-width: 300px;
		}
	}

	@keyframes top-fade-in {
		0% {
			transform: translateY(40px);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}
</style>