---
import Nav from '../layouts/Nav.astro';
---

<Nav title="Projects">
	<main>
		<h1>Projects</h1>
	</main>
</Nav>

<style>
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}
</style>