---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="header-container">
			<header>
				<nav>
					<ul>
						<li><a href="/"><img src="dot32text.webp" alt="Dot32"></a></li>
						<li><a href="/">Projects</a></li>
						<li><a href="/">Tutorials</a></li>
					</ul>
				</nav>

				<a href="https://discord.gg/Pswb8khdgQ" class="cta">Join my Discord</a>
			</header>
		</div>

		<slot />

	</body>
</html>

<style is:global>
	body {
		margin: 0;
		background-color: #0f0e0e;
		color: white;
	}
</style>

<style>
	.header-container {
		width: 100%;
		height: 5rem;
		padding-top: 2rem;
		position: absolute;
	}

	header {
		background-color: rgba(23, 23, 23, 0.692);
		max-width: 1100px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 4rem;
		border-radius: 2rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	li {
		display: inline;
		position: relative;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	a {
		color: white;
	}

	li:first-child a {
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	}

	li:first-child img {
		height: 75px; /* Set an appropriate size */
		width: auto;
		position: relative;
		/* z-index: 1; Bring it in front if needed */
		pointer-events: none; /* Make the image not clickable */
	}

	li:first-child a::before {
		content: '';
		position: absolute;
		top: 50%; /* Start from the middle */
		left: 0;
		transform: translateY(-50%); /* Center vertically */
		width: 100%;
		height: 1em; /* Set the hitbox height */
		z-index: 1; /* Set a higher z-index for the hitbox */
		background-color: transparent; /* Make sure it's invisible */
		pointer-events: all;
	}
</style>